In [1]:
1+2

3

In [2]:
print(1+2)

3

In [3]:
print()

In [4]:
print("parikshit \n 231302245")

parikshit
 231302245

In [7]:
b="parikshit"

In [8]:
type("parikshit")

str

In [9]:
str(23)

'23'

In [10]:
type(str(23))

str

In [1]:
#concatination happens in string

In [2]:
"1"+"1"

'11'

In [3]:
int(1)+int(1)

2

In [4]:
"1"*"1"

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
"1" * 100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [7]:
"1" * 10

'1111111111'

In [1]:
1+2

3

In [2]:
7/2

3.5

In [3]:
print("my name is parikshit")

my name is parikshit

In [7]:
print("my name is, ",age)

my name is,  rahul

In [6]:
age="rahul"

In [11]:
print(f"my name is: {age}")

my name is: rahul

In [12]:
print("my name is {}".format(age))

my name is rahul

In [16]:
name = "parikshit"
age = 19
degree = "Btech"

In [17]:
print("my age is {} and my degree is {} with the name of {}".format(age,degree,name))

my age is 19 and my degree is Btech with the name of parikshit

In [18]:
print("my age is {} and my degree is {} with the name of {}".format(degree,age,name))

my age is Btech and my degree is 19 with the name of parikshit

In [19]:
#to solve this we use placeholder bascially assigns a value to the placce holder

In [20]:
print("my age is {a} and my degree is {b} with the name of {c}".format(a=age,b=degree,c=name))

my age is 19 and my degree is Btech with the name of parikshit

## control flow
### decision making statements

In [35]:
int(input("enter the number"))

enter the number 2

2

In [36]:
age=int(input("enter the age"))

enter the age 2

In [38]:
age=int(input("enter the age"))
if age>18:
    print("u r eligible to vote")
else:
        print("u r not eligible to vote")

enter the age 1

u r not eligible to vote

In [39]:
age=int(input("enter the age"))
if age>18:
    print("u r eligible to vote")
elif age==18:
        print("1 more year buddy")
else:
        print("u r not eligible to vote")

enter the age 18

1 more year buddy

In [40]:
#mall republic day event,buy gifts something
##1000 se jada money wale saman pr discount of 10%
###1000 ke barabr ya us se km pr 30%

In [55]:
product_price =int(input("enter the price of ur product"))
if product_price>1000:
    print("congratulations u r eligible for 10% off")
elif product_price<=1000:
    print("congrats congrats u r eligible for 30% off")

enter the price of ur product 123456

congratulations u r eligible for 10% off

In [61]:
product_price =int(input("enter the price of ur product"))
if product_price>1000:
    print("congratulations u r eligible for 10% off and u ur current value of product is {}".format(product_price-product_price*0.1))
elif product_price<=1000:
    print("congrats congrats u r eligible for 30% off and u ur current value of product is {}".format(product_price-product_price*0.3))

enter the price of ur product 1000

congrats congrats u r eligible for 30% off and u ur current value of product is 700.0

In [64]:
product_price =int(input("enter the price of ur product"))
if product_price>1000:
    print("congratulations u r eligible for 10% off and u ur current value of product is {}".format(product_price-product_price*0.1))
elif product_price<=1000:
    print("congrats congrats u r eligible for 30% off and u ur current value of product is {}".format(product_price-product_price*0.3))

enter the price of ur product 2000

congratulations u r eligible for 10% off and u ur current value of product is 1800.0

In [2]:
1+2

3

In [3]:
#loop statement
#while loop
#for loop
#nested loop
#loop control (break,continue,pass)

In [12]:
joining_age=35
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
        print("its the time for retirement")

35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its the time for retirement

In [6]:
1+3

4

In [13]:
#atm machine has 1000 ruppes every transaction pe 100 deduct hojate hai if all money gone at the end of day 
#money exhausted

In [28]:
atm_money=1000
while atm_money!=0:
    print(atm_money)
    atm_money=atm_money-100
    
else:
        print("Money Exhaustted")

1000
900
800
700
600
500
400
300
200
100
Money Exhaustted

In [29]:
#for loop

In [31]:
lst=[1,34,87654,87,56,"name"]

In [32]:
lst[0]

1

In [34]:
lst[-1]

'name'

In [37]:
lst[1]=1

In [39]:
lst

[1, 1, 87654, 87, 56, 'name']

In [42]:
for i in lst:
    print(i)
    if i=="name":
        print("hahaa")

1
1
87654
87
56
name
hahaa

In [43]:
fruit='mango'
for a in fruit:
    print(a)

m
a
n
g
o

In [44]:
fruit[0]

'm'

In [45]:
fruit[0]=1

TypeError: 'str' object does not support item assignment

In [46]:
#nested loops

In [47]:
range(1,6)

range(1, 6)

In [48]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [49]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [50]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')

****************************

In [58]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",)
    print("\r")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*
*

In [57]:
#right angled triangle

In [59]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [60]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\n")

*

**

***

****

*****

******

*******

In [61]:
#loop controls

In [62]:
#break
#continue

In [63]:
fruits=["apple","cherry","banana","mango"]

In [84]:
for i in fruits:
    if i=="cherry":
        print("the fruit is cherry")
        break
    print(i)

apple
the fruit is cherry

In [83]:
for i in fruits:
    if i=="cherry":
        print("the fruit is cherry")
        pass
    print(i)

apple
the fruit is cherry
cherry
banana
mango

In [82]:
for i in fruits:
    if i=="cherry":
        print("the fruit is cherry")
        continue
    print(i)

apple
the fruit is cherry
banana
mango